html, body, #root {
    font: 1rem sans-serif;
    background: #e0573d;
    color: #fff;
    height: 100%;
    margin: 0;
    overflow: hidden;
    min-width: 256px;
}

.app {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}