/*.nav-list {*/
/*    position: fixed;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    width: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    bottom: 1em;*/

/*    list-style-type: none;*/
/*    background: transparent;;*/
/*}*/

/*.nav-item {*/
/*    border-left: .15em solid black;*/
/*}*/

/*.nav-item:hover .nav-link {*/
/*    transform: translateY(-20%) scale(1.1);*/
/*}*/

/*.nav-item:active .nav-link {*/
/*    transform: translateY(-20%) scale(0.9);*/
/*}*/

/*.nav-item:first-child {*/
/*    border-left: none;*/
/*}*/

/*.nav-link {*/
/*    display: block;*/
/*    color: black;*/
/*    font-size: 1.5rem;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    padding: .5em 1em;*/
/*    transition: .3s;*/
/*}*/

.nav-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

a {
    display: block;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    border-left: .15em solid black;
    padding: .3em 0;
}

a:first-child {
    border: none;
}