.home-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.home-container h1 {
    margin: 0 auto;
    font-size: 15vw;
    font-weight: normal;
}

.wait h1 {
    margin: 0 1em;
    font-size: 15vw;
    font-weight: normal;
}

.home-container img {
    max-width: 40vh;
    width: 40vh;
}

.home-container .smaller {
    width: 5em;
    height: 40vh;
    object-position: 0 0;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.home-container span {
    margin: 0 1em;
    font-size: 8vw;
}

.home-container button {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    width: 70vw;

    color: #fff;
    font-size: 12vw;
    padding: .2em;
    margin: .3em auto 0;

    border: none;
    border-radius: .3em;
    box-shadow: 0 .1em #0f212a;
    background-color: #1b3642;
    transition: .2s;
}

.home-container button:hover {
    cursor: pointer;
    background-color: #294e5e;
}

.home-container button:active {
    cursor: pointer;
    box-shadow: none;
    transition: 0s;
    transform: translateY(10%) scale(0.95);
    background-color: #294e5e;
}

.home-container button i {
    font-size: 3rem;
}

.icon {
    font-size: 5vh;
    position: absolute;
    top: .5em;
    right: .5em;
}

.icon-2 {
    top: 2em;
}