.profile-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    text-align: center;
    background-color: transparent;
}
.profile-history-list {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 35vh;
}